.comments-header
  %h6
    = commentable.comment_threads.count == 0 ? 'Be the first to comment!' : "#{commentable.comment_threads.count} Comments"

.comments-container
  = render 'comments/show', comments: commentable.root_comments.order(:created_at), new_comment: new_comment

.new-comment-toggle
  %a.new-comment
    New Comment
.new-comment-form
  = render 'comments/form', new_comment: new_comment
