.comments-container
  = render 'comments/show', comments: commentable.root_comments.order(:created_at), new_comment: new_comment

.new-comment-form
  = render 'comments/form', new_comment: new_comment
