%meta{ property: 'og:site_name', content: 'Gravity' }

- if content_for?(:meta_tags)
  = yield(:meta_tags)
- else
  %meta{ property: 'og:url', content: 'https://www.gravity.ph' }
  %meta{ property: 'og:title', content: %(Gravity. It's just a theory.) }
  %meta{ property: 'og:description', content: 'Share. Express. Connect.' }
  %meta{ property: 'og:image', content: 'https://static-prod.gravity.ph/assets/home.jpg' }
