#recipe-categories-container
  %ul
    %li{ class: current_page?(recipes_path) ? 'active' : 'inactive' }
      = link_to recipes_path do
        All
    - recipe_categories.each do |category|
      %li{ class: current_page?(recipes_recipe_category_path(category)) ? 'active' : 'inactive' }
        = link_to recipes_recipe_category_path(category) do
          = category.title.html_safe
