#recipe-categories-container
  %ul
    %li
      = link_to recipes_path do
        All
    - recipe_categories.each do |category|
      %li
        = link_to recipes_recipe_category_path(category) do
          = category.title.html_safe
