%header.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading The Marcoses
          %p.intro-text
            A free, responsive, one page Bootstrap theme.
            %br
            Created by Start Bootstrap.
          %a.btn.btn-circle.page-scroll{ href: '#posts' }
            = fa_icon 'angle-double-down'

= render 'posts/listing', header_text: 'Recent Posts', home_page: true
