.row
  .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1#posts-container.container.content-section.home
    %h2.text-center Recent Posts
    %hr
    = render 'posts/listing', posts: @posts
    %a.btn.btn-default.pull-right{ href: posts_path }
      View All Posts

.row
  .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1#blogs-container.container.content-section.home
    %h2.text-center Recent Blogs
    %hr
    = render 'blogs/listing', blogs: @blogs
    %a.btn.btn-default.pull-right{ href: blogs_path }
      View All Blogs
