%section#posts.container.content-section.home
  .row
    .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2      
      %h2.text-center Recent Posts
      %hr
      = render 'posts/listing', posts: @posts
      %a.btn.btn-default.pull-right{ href: posts_path }
        View All Posts

%section#blogs.container.content-section.home
  .row
    .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2      
      %h2.text-center Recent Blogs
      %hr
      = render 'blogs/listing', blogs: @blogs
      %a.btn.btn-default.pull-right{ href: blogs_path }
        View All Blogs
