- content_for :header_scripts do
  = stylesheet_pack_tag 'application'

.container
  .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
  
  %hr.spacer

  .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
    = react_component('ChatList', { currentUser: current_user.as_json, autoScroll: true })
