- if images.gif.any?
  - gif_count = images.gif.length
  - images.gif.each.with_index do |img, i|
    = image_tag img.source_url, class: 'gif-image'
    - unless i == gif_count - 1
      %br
      %br

- if images.non_gif.by_height.any?
  .my-gallery{ itemscope: true, itemtype: 'http://schema.org/ImageGallery' }
    - img_count = images.non_gif.by_height.length
    - images.non_gif.by_height.each do |img|
      - render_style = img.render_style
      - style = img_count > 1 ? :thumb : render_style
      - fig_class = img_count > 1 ? '' : 'single-image'
      %figure{ itemprop: 'associatedMedia', itemscope: true, itemtype: 'http://schema.org/ImageObject', class: fig_class }
        %a{ href: img.source_url(style: render_style), itemprop: 'contentUrl', 'data-size' => "#{img.width}x#{img.height}" }
          = image_tag img.source_url(style: style), itemprop: 'thumbnail'

  .pswp{ tabindex: '-1', role: 'dialog', 'aria-hidden' => 'true' }
    .pswp__bg

    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item

      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter

          %button.pswp__button.pswp__button--close{ title: 'Close (Esc)' }
          %button.pswp__button.pswp__button--fs{ title: 'Toggle fullscreen' }
          %button.pswp__button.pswp__button--zoom{ title: 'Zoom in/out' }

          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut

        .pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
          .pswp__share-tooltip

        %button.pswp__button.pswp__button--arrow--left{ title: 'Previous (arrow left)' }
        %button.pswp__button.pswp__button--arrow--right{ title: 'Next (arrow right)' }

        .pswp__caption
          .pswp__caption__center
