%section#posts.container.content-section
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      - header_text = 'All Posts' if local_assigns[:header_text].blank?
      %h2.text-center= header_text
      %hr

      - @posts.each do |post|
        .post-preview
          %a{ href: post_path(post) }
            %h4.post-title= post.title
            %p.post-body= post.body
          %p.post-meta= post.created_at.strftime '%a, %b %e, %Y %R'
        %hr

      %a.btn.btn-default.pull-right{ href: posts_path }
        View All Posts
