.row
  .col-lg-6.col-lg-offset-3.col-md-10.col-md-offset-1.container.content-section.about.white-bg
    %h5.text-center.spacer-sm
      Built with
      = fa_icon 'heart'
      by The Marcoses
    %p.text-center
      %img#about-img.text-center{ src: 'https://static-prod.gravity.ph/blog_media/sources/000/000/414/original/IMG_8799.JPG?1538823091' }
    %h4.text-center.spacer-sm Share. Express. Connect
