@import 'myvariables';
@import 'mymixins';

.navbar-form {
  display: inline-flex;
  height: 17px;
  padding-top: 0px !important;
  margin-top: 0px !important;
  margin-right: -10px !important;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  .form-group {
    margin-right: -10px !important;
    .input-sm {
      height: 22px !important;
      padding: 5px 5px !important;
    }
    .form-control {
      @media(max-width: 767px) {
        width: 85%;
      }
      &#search_search {
        width: auto !important;
      }
    }
  }
  .nav-form-submit, .nav-form-cancel {
    margin-top: -3px;
  }
  .input-group-btn > button {
    margin-left: -7px !important;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 22px;
    background-color: $primary;
    color: #fff;
    border: 1px #ccc solid;
    .fa.fa-search {
      position: absolute;
      font-size: 12px;
      top: 4px;
      right: 6px;
      color: #fff;
    }
  }
}

.form-group {
  label {
    color: $primary;
  }
}

.dropzone-previews {
  .dz-preview {
    .dz-image {
      border-radius: 10px !important;
      width: 80px !important;
      height: auto !important;
      img {
        width: 80px !important;
        height: auto !important;
      }
    }
    .dz-details {
      display: none;
    }
  }
  .dz-remove:hover {
    background: none;
  }
  .dz-remove {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    color: red;
    i {
      cursor: pointer;
    }
  }
}

form {
  &.posts {
    padding: 10px;
    .post_public {
      margin-top: 50px;
      margin-bottom: -40px;
      margin-left: 2px;
    }
    .dropzone-action-buttons {
      display: inline-flex;
      margin-top: 5px;
      .start-upload:hover {
        background: none;
      }
      .start-upload {
        margin-right: 5px;
        margin-top: 1px;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        span {
          cursor: pointer;
          display: block;
        }
      }
    }
    iframe {
      width: 100% !important;
    }
  }
  &.blogs {
    #blog_title {
      background-color: #000;
      color: #fff;
    }
    .form-actions {
      margin-left: -14px;
    }
    .blog_category_id {
      width: 30%;
      .form-control.select {
        background-color: black;
        color: white;
      }
    }
  }
  &.recipes {
    #recipe_title {
      background-color: #000;
      color: #fff;
    }
    #recipe_description {
      background-color: #000;
    }
    #recipe_ingredients {
      background-color: #000;
    }
    #recipe_instructions {
      background-color: #000;
    }
    .form-actions {
      margin-left: -14px;
    }
  }
  textarea {
    background-color: #000 !important;
    color: #fff !important;
    &.form-control:focus {
      border-color: #fff;
    }
  }
}

.select2-container {
  .select2-dropdown {
    background: #000 !important;
    color: $primary !important;
  }
}

.select2-container--default {
  .select2-results__option--highlighted[aria-selected] {
    background-color: $primary;
    color: #fff; 
  }
}

.datepicker {
  color: #555;
 &.datepicker-dropdown {
    background: #000;
    color: $primary;
    cursor: pointer;
  }
}

.new-comment-form {
  display: none;
  margin-top: 10px;
  .submit-new-comment[disabled] {
    background-color: gray !important;
    border-color: gray !important;
    color: white !important;
  }
}

#blog {
  .comments-header {
    border-top: 1px solid $primary;
    margin-top: 30px;
    padding-top: 15px;
  }
}

.comments-container {
  p {
    margin-bottom: 3px !important;
    font-size: 13px;
    margin-left: 30px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;
    a {
      font-size: 11px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.reply-form {
  display: none;
}

.new-comment-toggle {
  margin-bottom: 30px;
  display: none;
  a {
      font-size: 13px;
      font-weight: bold;
      cursor: pointer;
  }
}

.comments-show {
  margin-left: 25px;
  padding: 10px 0;
}

.reply-comment {
  padding-bottom: 0 !important;
}

#comment-reply-form {
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: -12px;
  .submit-reply-comment[disabled] {
    background-color: gray !important;
    border-color: gray !important;
    color: white !important;
  }
}

#tinymce-toolbar {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  margin-left: 120px;
}
.mce-tooltip-inner {
  position:relative !important;
  top:-65px !important;
}
.mce-tooltip-n {
  .mce-tooltip-arrow {
    top: -40px !important;
  }
}
#tinymce-container {
  background-color: #000;
  min-height: 700px;
  height: auto;
  padding: 10px;
  border-radius: 3px;
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
  img {
    max-width: 750px;
  }
}
#mceu_18 {
  border: 3px solid $primary;
}

.wysihtml5-toolbar {
  display: none !important;
}

.dropzone {
  background: none;
  min-height: 0px;
  border: none;
  .dz-preview.dz-image-preview {
    background: none;
  }
}

#post-index-form {
  background-color: #000;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  .post_media_token {
    display: none;
  }
}

.editable-input {
  iframe {
    height: 75px !important;
  }
}

.edit-xeditable {
  cursor: pointer;
}

.btn-primary[disabled] {
  background-color: gray !important;
  border-color: gray !important;
  color: white !important;
}

.help-block {
  margin: 0px;
  font-size: 12px;
}

.editable-container.editable-inline {
  .control-group.form-group {
    .editable-buttons {
      @media(max-width: 543px){
        display: block;
      }
    }
    iframe {
      max-width: 720px;
      @media(max-width: 543px){
        max-width: 320px !important;
      }
      @media(min-width: 544px) and (max-width: 767px) {
        max-width: 420px !important;
      }
      @media(min-width: 768px) and (max-width: 992px) {
        max-width: 520px !important;
      }
    }
  }
}

.inline {
  display: inline;
}

.li-comment-section {
  cursor: pointer;
}

#new-blog-container {
  h3 {
    margin-left: -16px;
  }
}

#new-recipe-container {
  h3 {
    margin-left: -16px;
  }
}

iframe.wysihtml5-sandbox {
  background-color: #000 !important;
}

textarea#post_body {
  background-color: #000 !important;
  color: #fff !important;
}

trix-toolbar {
  .trix-button-group {
    background-color: #ccc;
  }
}
