.log-me-in {
  margin-top: 10px;
}

.navbar-form {
  display: inline-flex;
  .form-group {
    margin-right: -10px;
  }
}

.form-group {
  label {
    color: #00868B;
  }
}

.dropzone-previews {
  .dz-remove:hover {
    background: none;
  }
  .dz-remove {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    color: red;
    i {
      cursor: pointer;
    }
  }
}

.posts {
  .dropzone-action-buttons {
    display: inline-block;
    margin-top: 5px;
    .start-upload:hover {
      background: none;
    }
    .start-upload {
      margin-right: 5px;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      span {
        cursor: pointer;
        display: block;
      }
    }
  }
  .form-actions {
    margin-top: 60px;
  }
}

.select2-container {
  .select2-dropdown {
    background: #000 !important;
    color: #00868B !important;
  }
}

.select2-container--default {
  .select2-results__option--highlighted[aria-selected] {
    background-color: #00868B;
    color: #fff; 
  }
}
