.post-images {
  height: auto;
  .my-gallery {
    width: 100%;
    float: left;
    &.my-gallery-multiple-images {
      display: inline-flex;
      flex-wrap: wrap;
    }
    img {
      max-width: 100%;
      height: auto;
    }
    .grid-item {
      float: left;
      width: 150px;
      margin: 0 5px 5px 0;
      &.grid-item--width2 {
        width: 100%;
      }
    }
  }
}

.post-videos {
  video {
    max-width: 100%;
  }
}
