.post-images {
  height: auto;
  .my-gallery {
    width: 100%;
    float: left;
    img {
      max-width: 100%;
      height: auto;
    }

    figure {
      display: block;
      float: left;
      margin: 0 5px 5px 0;
      &.single-image {
        max-width: 100%;
      }
    }
  }
}
