@import "myvariables";
@import "mymixins";

body {
  width: 100%;
  height: 100%;
  font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  background-color: #e9ebee;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary;
  margin: 0 0 15px;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 16px;
  line-height: 1.5;
  @media(min-width:768px) {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6;
  }
}

.small-text {
  font-size: 15px;
  margin-bottom: 5px;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  .poster {
    margin: 0px !important;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
    p {
      line-height: 1.2;
      margin-bottom: 10px !important;
    }
  }
}

.post-meta, .blog-meta, .user-meta {
  font-size: 10px;
  margin-bottom: 5px;
  color: gray;
}
.comment-meta {
  font-size: 10px !important;
  color: gray !important;
}
.post-title, .blog-title {
  color: $primary;
  &:hover,
  &:focus {
    color: $tertiary;
    cursor: pointer;
  }
}
.post-body, .blog-body {
  font-size: 15px;
  color: #000;
}
.delete-post, .delete-blog {
  text-align: right;
}

#blog {
  #blog-body {
    margin-top: 40px;
    h1, h2, h3, h4, h5, h6 {
      color: white !important;
    }
  }
  .blog-actions {
    margin-top: 30px;
  }
}

a {
  color: $primary;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $tertiary;
  }
}

.light {
  font-weight: 400;
}

.top-nav-collapse {
  .navbar-right {
    margin-top: 17px !important;
  }
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(white, 0.3);
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: black;
  color: $primary;
  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white;
    &:focus,
    &:active {
      outline: none;
    }
  }
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: none;
    }
  }
  a {
    color: $primary;
  }
  .nav {
    li {
      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        &:hover {
          color: #fff;
          outline: none;
          background-color: transparent;
        }
        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
        }
      }
      &.active {
        outline: none;
        a {
          background-color: rgba(white, 0.3);
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  .navbar-right {
    margin-top: 10px;
    li {
      list-style: none;
    }
    li > a {
      &:hover {
        color: #fff;
        outline: none;
        background-color: transparent;
      }
    }
    &:hover {
      color: #fff;
      outline: none;
      background-color: transparent;
    }
    &:focus,
    &:active {
      outline: none;
      background-color: transparent;
    }
  }
  @media(min-width:768px) {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    &.top-nav-collapse {
      padding: 0;
      background: black;
      border-bottom: 1px solid rgba(white, 0.3);
    }
  }
  @media(max-width:768px) {
    .navbar-right {
      .nav-user-dropdown {
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: image-url('intro-bg.jpg') no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-body {
    display: table-cell;
    vertical-align: middle;
    .brand-heading {
      font-size: 40px;
    }
    .intro-text {
      font-size: 18px;
    }
  }
  @media(min-width:768px) {
    height: 100%;
    padding: 0;
    .intro-body {
      .brand-heading {
        font-size: 100px;
      }
      .intro-text {
        font-size: 26px;
      }
    }
  }
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  &:hover,
  &:focus {
    outline: none;
    color: white;
    background: rgba(white, 0.1);
  }
  i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }
  &:hover {
    i.animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
    }
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 100px;
}

.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: image-url('downloads-bg.jpg') no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

@media(min-width:767px) {
  .content-section {
    padding-top: 150px !important;
    &.home {
      padding-top: 80px !important;
      margin-bottom: 80px;
    }
  }

  .download-section {
    padding: 100px 0;
  }

  #map {
    height: 400px;
    margin-top: 250px;
  }
}

.btn {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0;
}

.btn-default {
  border: 1px solid $primary;
  color: $primary;
  background-color: transparent;
  &:hover,
  &:focus {
    border: 1px solid $primary;
    outline: none;
    color: #fff;
    background-color: $primary;
  }
}

.btn-danger {
  background-color: transparent;
  color: #d43f3a;
  &:hover,
  &:focus {
    color: #fff;
    background-color: #d43f3a;
    border: 1px solid #d43f3a;
  }
}

.btn-trash {
  border: none;
}

ul.banner-social-buttons {
  margin-top: 0;
  @media(max-width:1199px) {
    margin-top: 15px;
  }
  @media(max-width:767px) {
    li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

footer {
  padding: 50px 0;
  p {
    margin: 0;
  }
}

::-moz-selection {
  text-shadow: none;
  background: $secondary;
  background: rgba($secondary, 0.2);
}

::selection {
  text-shadow: none;
  background: $secondary;
  background: rgba($secondary, 0.2);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: rgba(white, 0.2);
}

.alert {
  margin: 70px auto 20px auto !important;
  text-align: center !important;
  width: 35%;
  color: #fff !important;
  font-weight: bold;
}

.alert-success {
  background-color: $tertiary;
  border-color: $tertiary;
}

.alert-danger {
  background-color: #d43f3a;
  border-color: #d43f3a;
}

#confirmationDialog {
  width: 250px;
  height: 150px;
  margin: 0 auto;
  border: 1px solid $primary;
  background: #fff;
  position: absolute;
  top: 200px;
  border-radius: 3px;
  .blank-post {
    margin-left: 230px;
  }
}

#confirmationDialog {
  position: fixed;
}

.modal-body {
  font-size: 15px;
  text-align: center;
  padding-top: 25px;
}

.modal-footer {
  border-top: none !important;
}

#nav-profile-photo {
  width: 25px;
  border-radius: 100%;
}

#user-listing-profile-photo {
  width: 35px;
  border-radius: 100%;
}

#user-profile-photo {
  width: 99px;
  border-radius: 100%;
}

#ajax-flash-msg {
  width: 60%;
  text-align: center;
  position: fixed;
  z-index: 99999;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  @media(max-width:768px) {
    width: 85%;
  }
  #flash-notice {
    background-color: $tertiary;
    border: 1px solid $tertiary;
    margin: 50px auto;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
  }
  #flash-alert {
    background-color: #d43f3a;
    border: 1px solid #d43f3a;
    margin: 50px auto;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
  }
}

#infscr-loading {
  text-align: center;
}

hr {
  border-top: 1px solid $primary;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-tabs {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  border-bottom: 1px solid $primary;
  li {
    &.active {
      a {
        color: #fff !important;
        border: 1px solid $primary !important;
        background-color: $primary !important;
        border-radius: 0px !important;
      }
    }
    a {
      &:hover {
        color: #fff !important;
        border: 1px solid $primary !important;
        background-color: $primary !important;
        border-radius: 0px !important;
      }
    }
  }
}